@tailwind base;
@tailwind components;

html,
body {
  font-size: 18px;
  @apply bg-neutral-very-light-gray;
}

@tailwind utilities;

@layer utilities {
  @variants hover, focus {
    .button-brightness {
      box-shadow: inset 0 0 28px 12px rgba(255, 255, 255, 0.3);
    }
    .gradient-border-bottom {
      color: hsl(233, 26%, 24%);
      border-width: 0 0 4px 0;
      border-style: solid;
      border-image: linear-gradient(
          to right,
          hsl(136, 65%, 51%),
          hsl(192, 70%, 51%)
        )
        3;
    }
  }
}
